<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-hide-md-up">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start" (click)="toHome()">
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="userPhoto-buttons-name-content">

      <ion-col class="userPhoto-content">
        <div>
          <img src="{{ ( authService.user | async )?.photoUrl }}" alt="" class="userPhoto">
        </div>
      </ion-col>
      <ion-col class="name-content">
        <ion-row>
          <p>{{ ( authService.user | async)?.displayName }}</p>
        </ion-row>
      </ion-col>
      <ion-col class="buttons-content">
        <div>
          <ion-button (click)="cerrarSesion()">
            Cerrar Sesión
          </ion-button>
        </div>
        <div>
          <ion-button (click)="editar()">
            Editar
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>