<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-menu contentId="sideMenu" side="start" swipeGesture="false">
    <ion-header>
      <ion-toolbar>
        <ion-title>Gymnious</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content id="sideMenu">
      <ion-item class="item item-trns">
        <ion-buttons>
          <ion-button (click)="turnCardio()">
            CARDIO
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item class="item item-trns">
        <ion-buttons>
          <ion-button (click)="turnPesas()">
            PESAS
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item class="item item-trns">
        <ion-buttons>
          <ion-button (click)="turnAbs()">
            ABDOMINALES
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item class="item item-trns">
        <ion-buttons>
          <ion-button (click)="turnTodos()">
            TODOS
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="sideMenu" main></ion-router-outlet>
</ion-app>