<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-hide-md-up">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <img class="logo" slot="start" (click)="toHome()" src="https://imgur.com/HlrI7IF.png"/>
    <div class="ion-hide-sm-down" style="width: 100%">
      <ion-grid style="width: 50%">
        <ion-row>
          <ion-col>
            <ion-buttons>
              <ion-button (click)="turnCardio()">
                CARDIO
              </ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col>
            <ion-buttons>
              <ion-button (click)="turnPesas()">
                PESAS
              </ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col>
            <ion-buttons>
              <ion-button (click)="turnAbs()">
                ABDOMINALES
              </ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col>
            <ion-buttons>
              <ion-button (click)="turnTodos()">
                TODOS
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <img *ngIf="authService.isAuth()" src="{{ (authService.user | async)?.photoUrl }}" alt="" (click)="toPerfil()" slot="end"
      class="fotoPerfilNavBar">
    <ion-button *ngIf="!authService.isAuth()" (click)="inicioSesion($event)" slot="end" class="buttonPerfil">
      <ion-icon slot="icon-only" name="person"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-grid-home ion-hide-sm-down">
    <ion-row>
      <ion-col *ngFor="let item of homeService.activities | async" size="6" class="ion-no-padding">
        <ion-card class="ion-card">
          <ion-img [src]="item.photoURL"></ion-img>
          <ion-card-header class="title">
            <ion-title (click)="mostrarModal(item)">{{item.title}}</ion-title>
            <ion-button class="button-add" (click)="guardarActividad(item.uid)">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-card-header>
          <ion-card-content class="shortDes">
            <p>
              {{item.tag}}
            </p>
          {{item.shortDescription}}  
          </ion-card-content>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="ion-card ion-hide-md-up" *ngFor="let item of homeService.activities | async">
    <ion-img [src]="item.photoURL"></ion-img>
    <ion-card-header class="title">
      <ion-title (click)="mostrarModal(item)">{{item.title}}</ion-title>
      <ion-button class="button-add" (click)="guardarActividad(item.uid)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-card-content class="shortDes">
    {{item.shortDescription}}  
    </ion-card-content>
    <p>
      {{item.tag}}
    </p>
  </ion-card>
</ion-content>