<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{actividad.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="containerModal">
    <ion-img [src]="actividad.photoURL"></ion-img>
    <div>
      <p>
        <ion-text>
          {{actividad.description}}
        </ion-text>
      </p>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="add" (click)="addActividad(actividad.uid)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="!add" (click)="removeActividad(actividad.uid)">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
